body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: #04AA6D;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }

h1 {
    text-align: center;
    color: rgb(255, 174, 0);
}

h2 {
    text-align: center;
    color: aquamarine;
}

h3 {
    text-align: left;
    color: blueviolet;
}

#clinton {
    width: 100%;
    object-fit: cover;
}

#about {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 8px;
}

#description {
    width: 50%;
    padding-right: 8px;
}

#clinboi {
    width: 50%;
}

#team {
    border-radius: 5px;
    width: 100%;
}

.location {
    color: rgb(226, 43, 83);
}

#job {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 8px;
}
.job-role {
    margin-bottom: 0;
}
